.spoiler:hover,
.spoiler:focus {
    -webkit-filter: blur(0px) grayscale(0);
}

.spoiler {
    -webkit-filter: blur(3px) grayscale(.5);
    -webkit-transition-property: -webkit-filter;
    -webkit-transition-duration: .3s;
}

.clean-ul {
    list-style-type: none;
    list-style: none;
}

body {
    background-color: #222;
}

.navbar {
    background-color: rgb(49, 49, 49);
}

