<!--404 Not found-->
<!--{{ error }}-->

{% extends "header.html" %}

{% block body %}

<h1>404 Not found</h1>
<h2>Maybe you misspelled the URL?</h2>
<h3>More info:</h3>
<br>
<code>
    {{ error }}
</code>

{% endblock %}