<!--405 Method not allowed-->
<!--You can't use the {{ request.method }} method!-->

{% extends "header.html" %}

{% block body %}

<h1>405 Method not allowed</h1>
<h2>You can't use the {{ request.method }} method!</h2>

{% endblock %}