<!--500 Internal server error-->
<!--{{ error }}-->

{% extends "header.html" %}

{% block body %}

<h1>500 Internal server error</h1>
<h2>You can't do anything about this. Please report this issue in the discord server (link above) or just wait a
    while</h2>
<h3>More info:</h3>
<br>
<code>
    {{ error }}
</code>

{% endblock %}