{% extends "dashboard_header.html" %}

{% block main %}

<h1>{{ config['SHARX_HOST_NAME'] }} v{{ config['SHARX_HOST_VERSION'] }} - Dashboard</h1>
<h2>Welcome, <strong>{{ username }}</strong>!</h2>
<h3>Thanks for using {{ config['SHARX_HOST_NAME'] }}!</h3>



<br>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card border-left-primary shadow py-2" style="width: 22rem;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col">
                            <h5 class="card-title">Image count</h5>
                            <p class="card-text">You have uploaded <strong>{{ img_count }}</strong>
                                image{{ '' if img_count == 1 else 's' }}!</p>
                        </div>
                        <div class="col-2">
                            <i class="fas fa-images fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-left-primary shadow py-2" style="width: 22rem;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col">
                            <h5 class="card-title">UID</h5>
                            <p class="card-text">Your user ID is <strong>{{ uid }}</strong>.</p>
                        </div>
                        <div class="col-2">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card border-left-primary shadow py-2" style="width: 22rem;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col">
                            <h5 class="card-title">Invites</h5>
                            <p class="card-text">You have <strong>{{ inv_count }}</strong> invite{{ '' if inv_count == 1 else 's' }}! {% if inv_count == 0 %}<i class="fas fa-sad-tear" style="color: var(--bs-yellow)"></i>{% endif %}</p>
                            {% if inv_count > 0 %}
                            <a class="btn btn-primary" data-bs-target="#invitesModal" data-bs-toggle="modal" href="#">View</a>
                            {% endif %}
                        </div>
                        <div class="col-2">
                            <i class="fas fa-link fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-left-primary shadow py-2" style="width: 22rem;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col">
                            <h5 class="card-title">Storage</h5>
                            <p class="card-text">You have used <strong>{{ space }} MB</strong> of storage!</p>
                        </div>
                        <div class="col-2">
                            <i class="fas fa-hdd fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<div class="card border-left-primary shadow py-2" style="width: 22rem;">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col">
                <h5 class="card-title">MOTD</h5>
                <p class="card-text">{{ config['SHARX_HOST_MOTD'] }}</p>
            </div>
            <div class="col-2">
                <i class="fas fa-comment fa-2x text-gray-300"></i>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" class="modal fade" id="invitesModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Invites</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    {% for inv in invites %}
                    <li class="list-group-item"><div class="spoiler">{{ inv.code }}</div></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}