{% extends "header.html" %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark" style="border-radius: 1rem;">
    <div class="container-fluid">
        <i class="fas fa-tachometer-alt d-inline-block align-text-top me-2"></i>
        <a class="navbar-brand" href="{{ url_for('dashboard.dashboard') }}">Dashboard</a>
        <button class="navbar-toggler" data-bs-target="#dashboardNavBar" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="dashboardNavBar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('dashboard.account') }}"><i class="fas fa-user"></i> Account</a>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                        id="navbarDropdown" role="button">
                        <i class="fas fa-download"></i>
                        Download Configs
                    </a>
                    <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{ url_for('configs.sharex_config') }}">ShareX Config</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('configs.sharenix_config') }}">ShareNix Config</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('dashboard.embed_conf') }}"><i class="fas fa-id-card"></i> Embed Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('dashboard.url_conf') }}"><i class="fas fa-link"></i> URL Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('dashboard.gallery') }}"><i class="fas fa-images"></i> Image Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('users.logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block main %}{% endblock %}

{% endblock %}