<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="{{ config['SHARX_HOST_NAME'] }}" property="og:title">
    <meta content="{{ config['SHARX_HOST_MOTD'] }}" property="og:description">
    <meta content="#ff6600" name="theme-color">
    <meta content="dark" name="color-scheme">
    <title>{{ config['SHARX_HOST_NAME'] }} v{{ config['SHARX_HOST_VERSION'] }} - {% block title %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.0.2/dist/css/bootstrap-night.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"> -->
    <link href="/static/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2cff27eaca.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <img src="/logo.png" alt="" width="30" class="d-inline-block align-text-top me-2">
            <a class="navbar-brand" href="{{ url_for('links.home') }}">{{ config['SHARX_HOST_NAME'] }}</a>
            <button class="navbar-toggler" data-bs-target="#headerNavBar" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="headerNavBar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('links.home') }}"><i class="fas fa-home"></i>
                            Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('links.discord') }}"><i class="fab fa-discord"></i>
                            Discord</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('dashboard.dashboard') }}"><i
                                class="fas fa-tachometer-alt"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('links.repo') }}"><i class="fab fa-git-alt"></i>
                            Source Code</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category if category != 'message' else 'info' }} alert-dismissible fade show" role="alert">
            {% if category == 'danger' %}
            <i class="fas fa-exclamation-triangle" style="color: var(--bs-red)"></i>
            {% elif category == 'warning' %}
            <i class="fas fa-exclamation-triangle" style="color: var(--bs-yellow)"></i>
            {% elif category == 'info' %}
            <i class="fas fa-info-circle" style="color: var(--bs-aqua)"></i>
            {% elif category == 'success' %}
            <i class="fas fa-check-circle" style="color: var(--bs-green)"></i>
            {% endif %}

            {{ message }}
            <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}
    </div>

    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/script.js"></script>
</body>

</html>