{% extends "dashboard_header.html" %}

{% block main %}

<h1>{{ config['SHARX_HOST_NAME'] }} v{{ config['SHARX_HOST_VERSION'] }} - Dashboard (URL configuration)</h1>
<h2>Welcome, <strong>{{ username }}</strong>!</h2>
<h3>Here you can configure your URLs</h3>
{% from "_formhelpers.html" import render_field %}
<form action="{{ url_for('dashboard.url_conf') }}" method=post>
    <dl>
        {{ render_field(form.invisibleurl) }}
    </dl>
    <p><input type=submit value="Apply"></p>
</form>

{% endblock %}